name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  windows:
    runs-on: windows-latest
    name: "Windows"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Add MSVC to PATH
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022"

      - name: Build
        run: |
          cd build
          cmake --build .

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: potree-converter-windows
          path: build/
